<% definitions.each do |headword, pos_to_defs| %>
  <div>
  <span class="defn-headword"><%= headword %></span>
  <%= link_to "More definitions\u2026", define_word_url(headword), :target => '_blank' %>
  </div>

  <% if pos_to_defs.empty? %>
    Don't know this one off the top of my head.
    <%= link_to 'Look harder?', define_word_url(headword), :target => '_blank' %>
  <% end %>

  <% pos_to_defs.each do |pos, defs| %>
    <div class="defn-pos">&ndash; <%= pos %></div>
    <ol class="defn-list">
    <% defs.each do |dtext| %>
      <li><%= sanitize dtext %></li>
      <li><%= dtext %></li>
    <% end %>
    </ol>
  <% end %>
<% end %>
