<% unless @state.completed? %>
  <p>This game was not completed, so it didn't count towards your total wins/games played. (To complete a game, flip all the tiles and leave no more than 15 tiles in the letter pool.)</p>
<% end %>
<% if @state.started? %>
  <ul class="scorelist">
  <% @state.compute_ranks.each do |p| %>
    <% player = @state.player(p[:id]) %>
    <li class="<%= 'winner' if p[:rank] == 1 %> clearfix">
      <%= image_tag player.user.profile_pic, :width => 40, :height => 40, :class => 'score-pfpic' %>
      <strong>
        <% if p[:rank] == 1 %>
          Winner!
        <% else %>
          <%= ordinalize p[:rank] %> Place:
        <% end %>
      <%= player.user.name %>
      </strong>
      <!--(<%= inflect_noun player.user.wins, 'game', 'games' %> won,
      <%= player.user.games_completed %> completed)--><br />
      <%= player.num_letters %> letters
    </li>
  <% end %>
  </ul>

  <% stats = @state.compute_stats %>
  <% unless stats[:longest_steals].empty? %>
    <h4>Longest Steals</h4>
    <ul>
    <% stats[:longest_steals].each do |(user_id, word, words_stolen)|%>
      <li><%= @state.player(user_id).user.name %> made <%= word %> by stealing <%= words_stolen.join ', ' %></li>
    <% end %>
    </ul>
  <% end %>
  <% unless stats[:word_combines].empty? %>
    <h4>Multi-Word Steals</h4>
    <ul>
    <% stats[:word_combines].each do |(user_id, word, words_stolen)|%>
      <li><%= @state.player(user_id).user.name %> made <%= word %> by stealing <%= words_stolen.join ', ' %></li>
    <% end %>
    </ul>
  <% end %>

<% end %>
