<div id="player-info-<%= player.id %>"
  class="left player-info <%= 'in' unless player.is_active %>active-player">
<div class="clearfix">
  <%= image_tag player.user.profile_pic, width: 40, height: 40, class: 'left' %>
  <span class="username"><%= player.user.name %></span>
  <span class="score"><%= player.num_letters %></span>
  <% if player.voted_restart %>
    <span class="voted-restart">Voted to restart</span>
  <% end %>
</div>
<ul class="player-words">
  <% player.words.each do |id,word| %>
    <li id="<%= "word-#{player.id}-#{id}" %>"><%= render :partial => 'tiles', :object => word.letters %></li>
  <% end %>
  <% if player.words.size == 0 %>
    <li>No words.</li>
  <% end %>
</ul>
</div>
