<div class="clearfix">
  <div class="left-col">
    <h3>Anagram Thief!
    <span class="tagline">A David Liu Production</span></h3>
  </div>
  <div class="right-col">
    <h4>Game Room: <%= @game.name %></h4>
  </div>
</div>

<hr />

<div class="clearfix">
  <div class="left-col">
    <div id="pool-info">
      <%= render :partial => 'pool_info' %>
    </div>

    <hr />

    <div id="player-info-area">
      <%= render :partial => 'player', :collection => @players %>
    </div>
  </div>
  <div class="right-col">
    <input type="button" value="Flip a letter!" onclick="flipChar();" class="flip-btn" />
    <br />
    <label for="claimword">Claim a word:</label>
    <input type="text" id="claimword" />

    <hr />

    <div id="message-area">
      <ul id="messages">
        <li>Chat!</li>
      </ul>
    </div>

    <textarea id="talk">Say something...</textarea>

    <div><input type="button" id="vote-restart" value="Vote to Restart" /></div>

    <div id="defn-nav">
    <strong class="left">Definitions</strong>
    <a href="#" id="prev-defn">&laquo; Prev</a> |
    <a href="#" id="next-defn">Next &raquo;</a>
    </div>
    <div id="definition"></div>
  </div>
</div>

<a href="javascript:$('#debug').toggle()">Toggle debug</a>
<pre style="overflow: scroll; display: none" id="debug">
@state: <%= @state.inspect %>

@player_profiles: <%= @player_profiles.inspect %>

@players: <%= @players.inspect %>
</pre>

<script type="text/javascript" charset="utf-8">
  var gd = {
    me_id: '<%= escape_javascript @me_id %>',
    jchan: '<%= escape_javascript jchan @game_id %>',
    urls: {
      chat: '<%= escape_javascript play_chat_url %>',
      claim: '<%= escape_javascript play_claim_url %>',
      flipChar: '<%= escape_javascript play_flip_char_url %>',
      voteRestart: '<%= escape_javascript play_vote_restart_url %>',
      heartbeat: '<%= escape_javascript play_heartbeat_url %>'
    },
    heartRate: <%= Rails.env == 'development' ? '0' : '10000' %>,
    voteRestart: false
  };

  $(document).ready(function() {
    initGame();
  });
</script>
