<div class="clearfix">
  <div class="left-col">
    <h3>Anagram Thief!
    <span class="tagline">A David Liu Production</span></h3>
  </div>
  <div class="right-col">
    <h4>Game Room: <%= @game.name %>. <%= link_to 'Back to List', games_list_url %></h4>
    <a href="#" id="show-invites-link" class="large">Invite your friends to join this game!</a>
    <a href="#" id="hide-invites-link" class="large" style="display:none">Hide invitations</a>
  </div>
</div>

<hr />

<div class="clearfix" style="display:none" id="invites-section">
<h4>Option 1: Direct Link</h4>
<p>Copy and paste this URL to your friends, and it will bring them directly to this game room:<br />
(Mouse-over and hit CTRL-C / Command-C)<br />
<input type="text" value="<%= play_in_canvas_url @game_id %>" id="invite-url" readonly="readonly" />
</p>

<h4>Option 2: Facebook Invite</h4>
<p>You should see the invite box in a few moments below.</p>

<fb:serverFbml style="width:500px">
<script type="text/fbml">
  <fb:request-form
      action="<%= play_in_canvas_url @game_id %>"
      method="post"
      type="Anagram Thief"
      content="Come join my game of Anagram Thief, a word game where you try to steal letters from your friends and make the most words!">

    <fb:multi-friend-selector condensed="true"
        actiontext="Invite your friends to play here!"
        style="width:500px" />
    <fb:request-form-submit import_external_friends="false" />
  </fb:request-form>
</script>
</fb:serverFbml>

<a href="#" id="close-invites-link" style="display:none"></a>
<hr />
</div>

<div class="clearfix">
  <div class="left-col">
    <p class="when-game-over notice large">The game is over. 
      <input type="button" id="restart-btn" value="Restart Game"
        class="conn-ui fat-btn" style="display:none" />
    </h2>

    <div class="game">
      <div class="clearfix">
        <h3 class="left">Letter Pool
        <input type="button" value="Flip a letter!" id="flip-btn"
          class="conn-ui play-ui fat-btn" />
        </h3>
      </div>
      <div id="pool-info">
        <%= render :partial => 'pool_info' %>
      </div>

      <hr />

      <div id="player-info-area">
        <%= render :partial => 'player', :collection => @players %>
      </div>
    </div>

    <hr />

    <div>
      <input type="button" id="vote-done-btn" value="Vote to End the Game?"
        class="conn-ui fat-btn" />
      <input type="button" id="cancel-vote-btn" value="Cancel Vote"
        class="conn-ui fat-btn" style="display:none" />
      <input type="button" id="refresh-btn" value="Refresh"
          class="conn-ui fat-btn" />
    </div>
  </div>
  <div class="right-col">
    <div class="game">
      <label for="claimword" class="sectionhead">Claim a word:</label>
      <input type="text" id="claimword" class="conn-ui play-ui" />
    </div>

    <hr />

    <div class="sectionhead">Messages</div>
    <div id="message-area">
      <ul id="messages">
        <li>Welcome to Anagram Thief.</li>
      </ul>
    </div>

    <% chat_filler = "Type here and press enter to chat\u2026" %>
    <textarea id="chat" class="conn-ui"><%= chat_filler %></textarea>

    <div id="defn-nav">
      <span class="sectionhead">Definitions</span>
      <div class="right">
        <a href="#" id="prev-defn">&laquo; Prev</a> |
        <a href="#" id="next-defn">Next &raquo;</a>
      </div>
    </div>
    <div id="definition"></div>
  </div>
</div>

<a href="javascript:$('#debug').toggle()">Toggle debug</a>
<pre style="overflow: scroll; display: none" id="debug">
@state: <%= @state.inspect %>

@player_profiles: <%= @player_profiles.inspect %>

@players: <%= @players.inspect %>
</pre>

<% content_for :after_scripts do %>
<script type="text/javascript">
  $(document).ready(function() {
    Anathief.init({
      me_id: '<%= escape_javascript @me_id %>',
      jchan: '<%= escape_javascript jchan @game_id %>',
      urls: {
        canvas: '<%= escape_javascript Facebook::CANVAS_URL %>',
        fbPostImg: '<%= escape_javascript image_url "scrshot.jpg" %>',
        chat: '<%= escape_javascript play_chat_url %>',
        claim: '<%= escape_javascript play_claim_url %>',
        flipChar: '<%= escape_javascript play_flip_char_url %>',
        voteDone: '<%= escape_javascript play_vote_done_url %>',
        restart: '<%= escape_javascript play_restart_url %>',
        heartbeat: '<%= escape_javascript play_heartbeat_url %>',
        refresh: '<%= escape_javascript play_refresh_url %>'
      },
      heartRate: <%= Rails.env == 'development' ? '0' : '7000' %>,
      chatFiller: '<%= escape_javascript chat_filler %>'
    });
  });
</script>
<% end %>
