<% content_for :body_attr do %><% if @state.is_game_over %>game-over<% end %><% end %>
<% content_for :header_area do %>
    <span class="sectionhead">Game Room: <%= @game.name %>.</span><br />
      <%= link_to 'Back to Lobby', games_list_url, :class => "button white medium" %><br />

    <a href="#" id="show-instructions-link" class="button white medium"><strong>Instructions</strong></a>
    <a href="#" id="hide-instructions-link" class="button white medium" style="display:none"><strong>Hide Instructions</strong></a> <br />

    <a href="#" id="show-invites-link" class="button white medium">Invite friends</a>
    <a href="#" id="hide-invites-link" class="button white medium" style="display:none">Hide invitations</a>
<% end %>
<%= render :partial => 'shared/header' %>

<div class="clearfix" style="display:none" id="instructions-section">
  <div id="instructions-text">
    <h4>Instructions</h4>
<ul>
<li><strong>Goal:</strong> Gather letters by making words from anagrams.</li>

<li>We start with letter tiles face down. Flip the tiles together with the other players.</li>

<li>If you see a word you can make with these letters, claim it by typing it in the "Claim a word" text box.</li>

<li>Steal existing words by making them longer and changing the root. You could steal <strong>AGO</strong> and add an <strong>L</strong> to make <strong>GOAL</strong>. But you can't steal <strong>GOAL</strong> and make it <strong>GOALS</strong>.</li>

<li>Chat with your opponents in the right-side column. You can also invite your friends to join this game room directly, with the "Invite" link in the top-right.</li>

<li><strong>Tip:</strong> When your claim textbox is empty, just press Enter to flip a tile.</li>
</ul>
  </div>
  <hr />
</div>

<div class="clearfix" style="display:none" id="invites-section">
<h4>Option 1: Direct Link</h4>
<p>Copy and paste this URL to your friends, and it will bring them directly to this game room:<br />
(Mouse-over and hit CTRL-C / Command-C)<br />
<input type="text" value="<%= play_in_canvas_url @game_id %>" id="invite-url" readonly="readonly" />
</p>

<h4>Option 2: Facebook Invite</h4>

<% if current_user.guest? %>
  <p>You need to sign in with Facebook to use this option!<br />
  <a href="<%= oauth_url %>" target="_top"><img src="/images/loginbutton.png" alt="Sign in with Facebook" /></a></p>
<% else %>
  <p>You should see the invite box in a few moments below.</p>

  <fb:serverFbml style="width:500px">
  <script type="text/fbml">
    <fb:request-form
        action="<%= play_in_canvas_url @game_id %>"
        method="post"
        type="Anagram Thief"
        content="Come join my game of Anagram Thief, a word game where you try to steal letters from your friends and make the most words!">

      <fb:multi-friend-selector condensed="true"
          actiontext="Invite your friends to play here!"
          style="width:500px" />
      <fb:request-form-submit import_external_friends="false" />
    </fb:request-form>
  </script>
  </fb:serverFbml>
<% end %>

<a href="#" id="close-invites-link" style="display:none"></a>
<hr />
</div>

<div class="clearfix">
  <div class="left-col">
    <div class="when-game-over notice">
      <p class="large">The game is over. 
      <input type="button" id="restart-btn" value="Restart Game"
        class="conn-ui button black" /></p>
      <div id="game-over-info"><%= render :partial => 'game_result' %></div>
    </div>

    <div class="game">
      <div id="pool">
        <div>
          <div class="clearfix">
            <h3 class="left">Letter Pool</h3>
            <input type="button" value="Flip a letter!" id="flip-btn"
              class="conn-ui play-ui button black" />
          </div>
          <div id="pool-info">
            <%= render :partial => 'pool_info' %>
          </div>
        </div>
      </div>

      <div id="player-info-area">
        <%= render :partial => 'player', :collection => @players %>
      </div>
    </div>

    <hr />

    <div>
      <input type="button" id="vote-done-btn" value="Vote to End the Game?"
        class="conn-ui button black" />
      <input type="button" id="cancel-vote-btn" value="Cancel Vote"
        class="conn-ui button black" style="display:none" />
      <input type="button" id="refresh-btn" value="Refresh"
          class="conn-ui button black" />
    </div>
  </div>
  <div class="right-col">
    <div class="game">
      <label for="claimword" class="sectionhead">Claim a word:</label><br />
      <input type="text" id="claimword" class="conn-ui play-ui" /><br />
      or just press enter to flip a new letter.
    </div>

    <hr />

    <div class="sectionhead">Messages</div>
    <div id="message-area">
      <ul id="messages">
        <li>Welcome to Anagram Thief.</li>
      </ul>
    </div>

    <textarea id="chat" class="conn-ui" placeholder="Type here and press enter to chat&hellip;"></textarea>

    <div id="defn-nav">
      <span class="sectionhead">Definitions</span>
      <div class="right">
        <a href="#" id="prev-defn">&laquo; Prev</a> |
        <a href="#" id="next-defn">Next &raquo;</a>
      </div>
    </div>
    <div id="definition"></div>
  </div>
</div>

<div id="prompt-login" style="display: none"><div>
  <p class="sectionhead">Have you considered logging in with Facebook?</p>
  <p>You'll be able to:</p>
  <ul>
    <li>Keep a record of your wins and losses</li>
    <li>See which rooms your friends are in</li>
    <li>Send Facebook invites to friends</li>
    <li>Post your best games to your Facebook wall</li>
  </ul>

  <p>Anagram Thief won't post anything without asking you each time.</p>

  <p><a href="<%= oauth_url %>" target="_top"><img src="/images/loginbutton.png" alt="Sign in with Facebook" /></a><br />

  <a href="#" id="hide-prompt-login" class="button black">No thanks</a></p>
</div></div>

<% content_for :after_scripts do %>
<script type="text/javascript">
  $(document).ready(function() {
    Anathief.init({
      me_id: '<%= escape_javascript @me_id %>',
      jchan: '<%= escape_javascript jchan @game_id %>',
      urls: {
        canvas: '<%= escape_javascript Facebook::CANVAS_URL %>',
        fbPostImg: '<%= escape_javascript image_url "tiles-picture2.jpg" %>',
        chat: '<%= escape_javascript play_chat_url %>',
        claim: '<%= escape_javascript play_claim_url %>',
        flipChar: '<%= escape_javascript play_flip_char_url %>',
        voteDone: '<%= escape_javascript play_vote_done_url %>',
        restart: '<%= escape_javascript play_restart_url %>',
        heartbeat: '<%= escape_javascript play_heartbeat_url %>',
        refresh: '<%= escape_javascript play_refresh_url %>'
      },
      heartRate: <%= Rails.env == 'development' ? '0' : '7000' %>,
      isGuest: <%= current_user.guest? ? 'true' : 'false' %>
    });
  });
</script>
<% end %>
