- content_for :header_area do
  %span.sectionhead
    Game Room: #{@game.name}.
  %br/
  = link_to 'Back to Lobby', games_list_url, :class => "button white medium"
  %br/
  %a#show-instructions-link.button.white.medium{:href => "#"}
    %strong Instructions
  %a#hide-instructions-link.button.white.medium{:href => "#", :style => "display:none"}
    %strong Hide Instructions
  %br/
  %a#show-invites-link.button.white.medium{:href => "#"} Invite friends
  %a#hide-invites-link.button.white.medium{:href => "#", :style => "display:none"} Hide invitations
= render :partial => 'shared/header'
#instructions-section.clearfix{:style => "display:none"}
  #instructions-text
    %h4 Instructions
    %ul
      %li
        %strong Goal:
        Gather letters by making words from anagrams.
      %li We start with letter tiles face down. Flip the tiles together with the other players.
      %li If you see a word you can make with these letters, claim it by typing it in the "Claim a word" text box.
      %li
        Steal existing words by making them longer and changing the root. You could steal
        %strong AGO
        and add an
        %strong L
        to make
        = succeed "." do
          %strong GOAL
        But you can't steal
        %strong GOAL
        and make it
        = succeed "." do
          %strong GOALS
      %li Chat with your opponents in the right-side column. You can also invite your friends to join this game room directly, with the "Invite" link in the top-right.
      %li
        %strong Tip:
        When your claim textbox is empty, just press Enter to flip a tile.
  %hr/
#invites-section.clearfix{:style => "display:none"}
  %h4 Option 1: Direct Link
  %p
    Copy and paste this URL to your friends, and it will bring them directly to this game room:
    %br/
    (Mouse-over and hit CTRL-C / Command-C)
    %br/
    %input#invite-url{:readonly => "readonly", :type => "text", :value => play_in_canvas_url(@game_id)}/
  %h4 Option 2: Facebook Invite
  - if current_user.guest?
    %p
      You need to sign in with Facebook to use this option!
      %br/
      %a{:href => oauth_url, :target => "_top"}
        %img{:alt => "Sign in with Facebook", :src => "/images/loginbutton.png"}/
  - else
    %p You should see the invite box in a few moments below.
    %fb:serverfbml{:style => "width:500px"}
      %script{:type => "text/fbml"}
        <fb:request-form
        action="<haml:loud> play_in_canvas_url @game_id </haml:loud>"
        method="post"
        type="Anagram Thief"
        content="Come join my game of Anagram Thief, a word game where you try to steal letters from your friends and make the most words!">
        
        <fb:multi-friend-selector condensed="true"
        actiontext="Invite your friends to play here!"
        style="width:500px" />
        <fb:request-form-submit import_external_friends="false" />
        </fb:request-form>
  %a#close-invites-link{:href => "#", :style => "display:none"}
  %hr/
.clearfix
  .left-col
    .when-game-over.notice
      %p.large
        The game is over.
        %input#restart-btn.conn-ui.button.black{:type => "button", :value => "Restart Game"}/
      #game-over-area
    .game
      #pool
        %div
          .clearfix
            %h3.left Letter Pool
            %input#flip-btn.conn-ui.play-ui.button.black{:type => "button", :value => "Flip a letter!"}/
            %input#vote-done-btn.conn-ui.button.black{:type => "button", :value => "Vote to End Game"}/
            %input#cancel-vote-btn.conn-ui.button.black{:style => "display:none", :type => "button", :value => "Cancel Vote"}/
          #pool-area
      #player-area
    %hr/
    %div
      %input#refresh-btn.conn-ui.button.black{:type => "button", :value => "Refresh"}/
  .right-col
      %input#bot-btn.conn-ui.button.black{:type => "button", :value => "Robots"}/
    .game
      %label.sectionhead{:for => "claimword"} Claim a word:
      %br/
      %input#claimword.conn-ui.play-ui{:type => "text"}
      %input#claim-btn.conn-ui.play-ui{:type => "button", :value => "Claim"}
      %br/
      or just press enter to flip a new letter.
    %hr/
    .sectionhead Messages
    #message-area
      %ul#messages
        %li Welcome to Anagram Thief.
    %textarea#chat.conn-ui{:placeholder => "Type here and press enter to chat\u2026"}
    #defn-nav
      %span.sectionhead Definitions
      .right
        %a#prev-defn{:href => "#"} &laquo; Prev
        |
        %a#next-defn{:href => "#"} Next &raquo;
    #definition
#prompt-login{:style => "display: none"}
  %div
    %p.sectionhead Have you considered logging in with Facebook?
    %p You'll be able to:
    %ul
      %li Keep a record of your wins and games played
      %li Use your profile picture in the game
      %li Quickly see which rooms your friends are playing in
      %li Send Facebook invites to friends
      %li Post your best games to your Facebook wall
    %p
      %strong Anagram Thief will never post anything without asking you each time.
    %p
      %a{:href => oauth_url, :target => "_top"}
        %img{:alt => "Sign in with Facebook", :src => "/images/loginbutton.png"}/
      %br/
      %a#hide-prompt-login.button.black{:href => "#"} No thanks
- content_for :after_scripts do
  :javascript
    $(document).ready(function() {
      Anathief.init({
        sio: '#{escape_javascript Anathief::AppServer::SIOWS_URL}',
        userId: '#{escape_javascript @me_id}',
        gameId: '#{escape_javascript @game_id}',
        idToken: '#{escape_javascript @id_token}',
        urls: {
          canvas: '#{escape_javascript Anathief::Facebook::CANVAS_URL}',
          fbPostImg: '#{escape_javascript image_url "tiles-picture2.jpg"}',
        },
        isGuest: #{current_user.guest? ? 'true' : 'false'},
      });
    });
