<div class="clearfix">
  <div class="left-col">
    <h2 class="title">Anagram Thief!</h2>
    <h3 class="tagline">a David Liu production</h3>

    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D<%=Facebook::APP_ID%>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
  </div>
  <div class="right-col">
    <div class="clearfix">
      <%= image_tag current_user.profile_pic,
        :width => 50, :height => 50, :class => 'right' %>
      Welcome,
      <strong><%= current_user.name %></strong>!
    </div>

    <% if current_user.guest? %>
      <p><a href="<%= oauth_url %>" target="_top"><img src="/images/loginbutton_sm.png" alt="Sign in with Facebook" /></a></p>
    <% end %>

    <%= yield :header_area %>
  </div>
</div>

<hr />
