<!--script>top.location.href='<%= raw escape_javascript oauth_url %>';</script-->

<h1>Welcome to Anagram Thief!</h1>

<h2>Play Now</h2>

<div class="clearfix">
  <div class="left-col">
    <h3>Play using Facebook</h3>

    <p>Sign in using Facebook to use your profile picture and find your friends' games more quickly.</p>

    <p>Don't worry, Anagram Thief won't post anything without asking you first.</p>

    <a href="<%= oauth_url %>" target="_top"><img src="/images/loginbutton.png" alt="Sign in with Facebook" /></a>
  </div>
  <div class="right-col">
    <h3>Start playing immediately as a guest</h3>
    <%= form_tag(sessions_guest_in_path) do %>
      <p>
      <%= label_tag(:name, "Your name:") %>
      <%= text_field_tag(:name, '', :placeholder => @guest_name) %>
      <br />
      <%= submit_tag("Play as Guest", :class => 'button black') %>
      </p>
      <%= hidden_field_tag(:placeholder_name, @guest_name) %>
    <% end %>
  </div>
</div>

<h2>What is Anagram Thief?</h2>

<p>Anagram Thief is a real-time, web-based version of a board game called <strong>"Snatch-word" or "Anagrams."</strong></p>

<p>Screenshot:<br />
<img src="/images/scr.jpg" class="framed" /></p>

<p>You start with a pool of letter tiles, all face down.
As you and your opponents reveal them one at a time, it's a <strong>race to take any words that appear.</strong></p>

<p><strong>Steal existing words</strong> by rearranging the letters and extending the word! For example, if your friend had the word <strong>LOG</strong>, and an <strong>A</strong> appeared in the letter pool, you could make <strong>GOAL</strong>.</p>

<p>Most intense when you have at least three players! No limit to the number of players, but it'll get really challenging in a big room. You can also practice on your own.</p>

<hr />
<img src="/images/tiles-picture2.jpg" />
