      <ul class="game-record-list">
        <% game_record_list.each do |r| %>
          <li><%= time_ago_in_words r.created_at %> ago in
          <span class="game-name"><%= r.gameroom.name %></span>
          <ul>
          <% r.user_game_records.each do |u_r| %>
            <li><%= ordinalize u_r.rank %>: <span class="game-player"><%= u_r.user.name %></span>, <%= u_r.num_letters %> letters</li>
          <% end %>
        </ul></li>
        <% end %>
      </ul>
