<div class="clearfix">
  <div class="left-col">
    <h3>Welcome to Anagram Thief!
    <span class="tagline">A David Liu Production</span></h3>
  </div>
  <div class="right-col">
  </div>
</div>

<hr />

<div class="clearfix">
  <div class="left-col">
    <h3>Rooms You Created</h3>
    <%= render :partial => 'game_list', :object => @my_games %>

    <h3>Rooms Your Friends are Playing In</h3>
    <%= render :partial => 'game_list', :object => @friend_games %>

    <h3>More Rooms</h3>
    <%= render :partial => 'game_list', :object => @public_games %>

  </div>
  <div class="right-col">

    <%= form_tag games_create_url do %>
    <%= field_set_tag do %>
      <legend>Create a new room</legend>

      <% if flash[:create_errors] %>
        <p class="error"><strong>Error:</strong><br />
        <% flash[:create_errors].each do |error| %><%= error %><br /><% end %>
        </p>
      <% end %>

      <div>
        <%= label_tag 'game-name', 'Room name' %><br />
        <%= text_field_tag 'game-name' %>
      </div>
      <!--div>
        <%= check_box_tag 'game-private' %>
        <%= label_tag 'game-private', 'Private (only allow friends)' %>
      </div-->
      <div>
        <%= submit_tag 'Create room' %>
      </div>
    <% end %>
    <% end %>

  </div>
  <div class="right-col">
  </div>
</div>
