<div class="clearfix">
  <div class="left-col">
    <h3>Welcome to Anagram Thief! Beta
    <span class="tagline">a David Liu production</span></h3>

<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D<%=Facebook::APP_ID%>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
  </div>
  <div class="right-col">
    <span class="sectionhead">Game Lobby</span><br />
    Pick a room or create one to get started.
  </div>
</div>

<hr />

<div class="clearfix">
  <div class="left-col">
    <% unless @my_games.empty? %>
      <h3>Rooms You Created</h3>
      <%= render :partial => 'game_list', :object => @my_games %>
    <% end %>

    <% unless @friend_games.empty? %>
      <h3>Rooms Your Friends are Playing In</h3>
      <%= render :partial => 'game_list', :object => @friend_games %>
    <% end %>

    <% top_shown = !@my_games.empty? || !@friend_games.empty? %>
    <h3><%= 'More ' if top_shown %>Rooms</h3>
    <%= render :partial => 'game_list', :object => @public_games %>

  </div>
  <div class="right-col">

    <%= form_tag games_create_url do %>
    <%= field_set_tag do %>
      <legend>Create a new room</legend>

      <% if flash[:create_errors] %>
        <p class="error"><strong>Error:</strong><br />
        <% flash[:create_errors].each do |error| %><%= error %><br /><% end %>
        </p>
      <% end %>

      <div>
        <%= label_tag 'game-name', 'Room name' %><br />
        <%= text_field_tag 'game-name' %>
      </div>
      <!--div>
        <%= check_box_tag 'game-private' %>
        <%= label_tag 'game-private', 'Private (only allow friends)' %>
      </div-->
      <div>
        <%= submit_tag 'Create room' %>
      </div>
    <% end %>
    <% end %>

    <fieldset>
      <legend>Your Statistics</legend>
      <ul>
        <li>Games Completed: <%= current_user.games_completed %></li>
        <li>Games Won: <%= current_user.wins %></li>
      </ul>
    </fieldset>
  </div>
</div>
