<% content_for :header_area do%>
  <span class="sectionhead">Game Lobby</span><br />
  Pick a room or create one to get started.
<% end %>
<%= render :partial => 'shared/header' %>

<div class="clearfix">
  <div class="left-col">
    <% unless @my_games.empty? %>
      <h3 class="newsec">Rooms You Created</h3>
      <%= render :partial => 'game_list', :object => @my_games %>
    <% end %>

    <% unless @friend_games.empty? %>
      <h3 class="newsec">Rooms Your Friends are Playing In</h3>
      <%= render :partial => 'game_list', :object => @friend_games %>
    <% end %>

    <% top_shown = !@my_games.empty? || !@friend_games.empty? %>
    <h3 class="newsec"><%= 'More ' if top_shown %>Rooms</h3>
    <%= render :partial => 'game_list', :object => @public_games %>

  </div>
  <div class="right-col">

    <%= form_tag games_create_url do %>
      <h3 class="newsec">Create room</h3>

      <% if flash[:create_errors] %>
        <p class="error"><strong>Error:</strong><br />
        <% flash[:create_errors].each do |error| %><%= error %><br /><% end %>
        </p>
      <% end %>

      <div>
        <%= label_tag 'game-name', 'Room name' %><br />
        <%= text_field_tag 'game-name' %>
      </div>
      <!--div>
        <%= check_box_tag 'game-private' %>
        <%= label_tag 'game-private', 'Private (only allow friends)' %>
      </div-->
      <div>
        <%= submit_tag 'Create room' %>
      </div>
    <% end %>

      <h3 class="newsec">Your Statistics</h3>
      <ul>
        <li>Games Completed: <%= current_user.games_completed %></li>
        <li>Games Won: <%= current_user.wins %></li>
      </ul>

      <h3 class="newsec">Your Recent Games</h3>
      <%= render :partial => 'game_record_list', :object => @my_recent_records %>

      <h3 class="newsec">All Recent Games</h3>
      <%= render :partial => 'game_record_list', :object => @recent_records %>
  </div>
</div>
