<!DOCTYPE html>
<html>
<head>
<title>Anagram Thief!</title>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
<%= stylesheet_link_tag 'print.css', :media => 'print' %>
<!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
<%= csrf_meta_tag %>
<meta http-equiv="P3P" href="<%= public_file_url 'privacy.p3p' %>" content='CP="NON CURa ADMa DEVa TAIa OUR BUS IND PHY UNI COM NAV DEM"' />
</head>
<body onload="Anathief.setSize();" class="<%= yield :body_classes %>">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '<%= Facebook::APP_ID %>',
      //status: true, cookie: true,
      xfbml: true,
      channelUrl: '<%= escape_javascript public_file_url("channel.html") %>'
    });
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

<div id="wrap">
<%= yield %>
</div>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" %>
<%= javascript_include_tag 'jquery.placeholder.js' %>
<%= javascript_include_tag "http://iceboundflame.com:8080/json.js" %>
<%= javascript_include_tag "http://iceboundflame.com:8080/socket_io.js" %>
<%= javascript_include_tag "http://iceboundflame.com:8080/juggernaut.js" %>
<%= javascript_include_tag 'application' %>

<%= yield :after_scripts %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3473766-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
