<!DOCTYPE html>
<html>
<head>
<title>Anathief</title>
<link rel="stylesheet" href="<%= stylesheet_path 'blueprint/screen.css' %>" type="text/css" media="screen, projection">
<link rel="stylesheet" href="<%= stylesheet_path 'blueprint/print.css' %>" type="text/css" media="print">  
<!--[if lt IE 8]><link rel="stylesheet" href="<%= stylesheet_path 'blueprint/ie.css' %>" type="text/css" media="screen, projection"><![endif]-->
<%= stylesheet_link_tag :all %>
<%#= javascript_include_tag :defaults %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
<%= javascript_include_tag "http://iceboundflame.com:8080/application.js" %>
<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
